@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

:root {
  /* orange colors */
  --orange-100: #fde9d2;
  --orange-200: #fcd4a5;
  --orange-300: #fabe78;
  --orange-400: #f9a94b;
  --orange-500: #f7931e;
  --orange-600: #c67618;
  --orange-700: #945812;
  --orange-800: #633b0c;
  --orange-900: #311d06;

  /* blue colors */
  --blue-100: #ccd5ff;
  --blue-200: #99aaff;
  --blue-300: #6680ff;
  --blue-400: #3355ff;
  --blue-500: #002bff;
  --blue-600: #0022cc;
  --blue-700: #001a99;
  --blue-800: #001166;
  --blue-900: #000933;

  /* Purple colors */

  --purple-100: #dbcce6;
  --purple-200: #b799cd;
  --purple-300: #9366b4;
  --purple-400: #6f339b;
  --purple-500: #4b0082;
  --purple-600: #3c0068;
  --purple-700: #2d004e;
  --purple-800: #1e0034;
  --purple-900: #0f001a;
  /* grey colors */
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --backgroundColor: var(--grey-50);

  /* rest of colors  */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: "Lexend", sans-serif;
  --bodyFont: "Montserrat", sans-serif;

  --smallText: 0.7em;
  --backgroundColor: var(--grey-50);
  --textColor: var(--black);
  --borderRadius: 0.5rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1320px;
  --fixed-width: 1000px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other browsers */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  overflow-x: hidden;
}
body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}
a {
  text-decoration: none !important;
}
ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  font-family: var(--headingFont);
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--blue-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.775em 1.25em;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
  font-size: 1rem;
}
.btn:hover {
  background: var(--blue-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--blue-500);
  background: var(--blue-200);
}
.btn-hipster:hover {
  color: var(--purple-200);
  background: var(--purple-700);
}
.btn-block {
  width: 100%;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

select:focus {
  border: none;
}

/* form */

.form {
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  font-size: 1rem;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.wrapper {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: calc(100vh - (113px));
}

.title {
  text-align: center;
}

.title-underline {
  background: var(--purple-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
=============== 
Sidebar
===============
*/

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;

  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li .active {
  background: var(--blue-500);
  color: var(--blue-100);
}
#sidebar .side-menu.top li.active a {
  color: var(--white);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  transform: scaleY(1.1);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/*
=============== 
Content
===============
*/
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/*
=============== 
Navbar
===============
*/

/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/*
=============== 
Main
===============
*/

/* MAIN */
.breadcrumb-container {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
.breadcrumb-container .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
.breadcrumb-container .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
.breadcrumb-container .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.breadcrumb-container .head-title .left .breadcrumb li {
  color: var(--dark);
}
.breadcrumb-container .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
.breadcrumb-container .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }
}

/*
=============== 
section
===============
*/

section {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
 
}

.settings-header {
  display: flex;

  padding: 0.5em 5em;
  align-items: center;
  gap: 5em;
}
.settings-header button {
  justify-self: flex-end;
}
.all-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.image-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5em 0em;
}
.input-div-image {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--blue-500);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-image {
  color: var(--blue-500);
  font-size: 2rem;
  cursor: pointer;
}
.inputed-image {
  height: 150px;
  width: 250px;
  object-fit: cover;
  border: 2px solid var(--grey-300);
  margin: 1em;
}

.input-image {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

.no-image-container {
  height: 150px;
  width: 250px;
  border: 2px dashed var(--black);
  display: flex;
  align-items: center;
  background: var(--grey-200);
  justify-content: center;
  margin: 1em;
}
/*
=============== 
properties
===============
*/
/* .properties-container{
  display: flex;
  align-items: center;
  justify-content: center;
} */
th{
 font-size: 1.2rem;
 background: var(--blue-100);
}
td{
  background: var(--white);
  margin: 0;
  border: none;
  text-align: center;
  padding: 0.2em 0.7em;
  border-bottom: 1px solid black;
}
.table-edit-icon{
  color: var(--green-dark);
  cursor: pointer;

}
.table-delete-icon{
  color: var(--red-dark);
  cursor: pointer;

}

@media screen and (min-width:1000px) {
  td{
    padding: 0.3em 2em;
  }
  
}
/*
=============== 
Modal
===============
*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.2);
  display: grid;
  place-items: center;
  overflow-y: scroll;
  transition: var(--transition);
  z-index: 9999; /* if elements are taken out of a flow*/
}
.modal-container {
  min-width: 300px;

  padding: 0.5em;
  background: var(--white);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
}

.modal-close {
  align-self: flex-end;
}
.modal-close .properties__page-icon {
  font-size: 2rem;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
  padding: 0.1em 1em;
}

.modal-action-icon {
  align-self: center;
  background-color: var(--purple-200);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content h5 {
  text-align: center;
  max-width: 80%;
}
.modal-content h5 {
  font-family: var(--bodyFont);
  font-weight: 400;
  align-self: center;
}

.close-btn {
  background: var(--red-dark);
  color: var(--white);
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.modal__input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.modal__input-container input,
.modal__input-container textarea {
  background: #f1f1f1;
  border: none;
  padding: 0.5em 0.9em;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--black);
}
.modal-btn {
  padding: 1em;
  font-size: 1rem;
  margin: 1em 0em;
}


/*
=============== 
Loader
===============
*/
.loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2em 0em;
}
.loadingio-spinner-gear {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;

  }
  .spinner {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
  }

.spinner > div {
  transform-origin: 100px 100px;
  animation: spinner 0.2958579881656805s infinite linear;
}
.spinner > div div {
  position: absolute;
  width: 22px;
  height: 152px;
  background: #3355ff;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%);
}
.spinner > div div:nth-child(1) {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.spinner > div div:nth-child(6) {
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
}
.spinner > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.spinner > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.spinner > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}

.spinner div {
  box-sizing: content-box;
}
@keyframes spinner {
	0% {
	  transform: rotate(0deg);
	}
	50% {
	  transform: rotate(22.5deg);
	}
	100% {
	  transform: rotate(45deg);
	}
  }